body
{
    background-color: #f0f0f1!important;
}

.note-body
{
    background-color:white !important;
    margin-top: 2%;
    padding: 2%;
    box-shadow: 10px 10px 30px #c8c8c8 !important;
    border: 1px solid #c8c8c8;
}

.error-message-label
{
    color: red;
    font-size: 12px;
    display: none;
}

.done
{
    text-decoration: line-through!important;
    color: #6c757d;
}

li:first-child { 
    border-top: 0;
}

li
{
    cursor: default!important;
}