body
{
    background-color: #f0f0f1!important;
}

.note-body
{
    margin-top: 2%;
    padding: 2%;
}

.error-message-label
{
    color: red;
    font-size: 12px;
    display: none;
}

.note-body
{
    background-color:white !important;
}

.done
{
    text-decoration: line-through!important;
    color: #6c757d;
}

#li1
{
    border-top: 0;
}

li
{
    cursor: default!important;
}